# Binaries
**/bin/
bin-int/
# **.obj
# **.FBX
# **.mtl
# **.png
# **.jpeg
# **.jpg
# **.bmp
# **.hdr
# **.exr
# **.gltf
# **.glb
# **.bin

#Custom Binaries
# **.mesh

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

